.transaction-detail-container {
  padding: 20px;
}

.transaction-content {
  display: flex;
  gap: 20px; /* Space between the two divs */
}

.transaction-info {
  flex: 4; /* Takes 4 parts of the available space */
}

.transaction-items {
  flex: 6; /* Takes 1 part of the available space */
}

.transaction-items ul {
  list-style-type: none;
  padding: 0;
}

.transaction-items li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}


  .transaction-detail-container button {
    background-color: #007bff; /* Màu nền của nút Quay lại */
    color: white; /* Màu chữ */
    border: none; /* Bỏ viền */
    border-radius: 5px; /* Bo tròn góc */
    padding: 10px 15px; /* Padding bên trong */
    cursor: pointer; /* Con trỏ khi di chuột qua */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu nền */
  }
  
  .transaction-detail-container button:hover {
    background-color: #0056b3; /* Màu nền khi hover */
  }
  