.transaction-list {
  margin-top: 20px; /* Khoảng cách giữa các phần khác */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.transaction-list h3 {
  margin: 0 0 10px 0; /* Khoảng cách dưới tiêu đề */
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Chiều rộng 100% */
  margin-bottom: 10px; /* Khoảng cách dưới trường tìm kiếm */
}

.transaction-list ul {
  list-style-type: none; /* Bỏ dấu chấm đầu dòng */
  padding: 0; /* Bỏ padding cho ul */
  margin: 0; /* Bỏ margin cho ul */
}

.transaction {
  display: flex; /* Sắp xếp thông tin giao dịch theo hàng ngang */
  justify-content: space-between; /* Căn chỉnh giữa các phần tử */
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Đường phân cách giữa các giao dịch */
}

.transaction:last-child {
  border-bottom: none; /* Bỏ đường phân cách cho giao dịch cuối */
}

/* Tùy chỉnh màu sắc theo loại giao dịch */
.transaction.deposit {
  color: green; /* Màu xanh cho giao dịch nạp tiền */
}

.transaction.withdrawal {
  color: red; /* Màu đỏ cho giao dịch rút tiền */
}

.container-wallet {
    max-width: 80%;
    min-height: 500px;
    display: flex; /* Make the container a flexbox */
    margin: 0 auto;
}

.section {
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in total width */
}

/* First section (Account Info) */
.section:first-of-type {
    padding-top: 5%;
    flex: 0 0 20%; /* 30% width for the left section */
}

/* Second section (Transaction List) */
.section:last-of-type {
    flex: 0 0 80%; /* 70% width for the right section */
    background-color: #ffffff; /* Background for transaction list */
}
.section:first-of-type h2 {
  font-size: 18px; /* Adjust this size as needed */
  margin-bottom: 10px; /* Optional: adjust margin for spacing */
}

.loading-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Chiều cao toàn trang */
  font-size: 1.5rem; /* Kích thước chữ */
  color: #333; /* Màu chữ */
}
