@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{margin: 0px; padding: 0px; box-sizing: border-box;}

.container-fluid{padding: 0px 45px;}

body{
    font-family: 'Roboto', sans-serif;
    /* font-family: "Lato", sans-serif !important; */
    
}

.cursor {
    cursor: pointer;
}

.bg-g, bg-success{
    background-color: #279a65 !important;
}

.text-white{
    color: white !important;
}

.hd{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 25px;
}

.transition{
    transition: all 0.3s ease-in-out;
}
