.card-img-poster {
  width: 80% !important;
  height: 200px !important;
  object-fit: cover !important;
  border-radius: 8px !important;
  display: block !important;
}

.postBody {
  margin-top: 20px;
  /* Thay đổi giá trị này tùy theo khoảng cách bạn muốn */
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  /* Allows the cards to wrap onto a new line */
  justify-content: flex-start;
  /* Adds space between the cards */
  gap: 16px;
  /* Adds space between the cards */
  transition: border 0.3s ease;
  /* Thêm hiệu ứng chuyển tiếp */
}

.card {
  flex: 1 1 calc(33% - 16px);
  box-sizing: border-box;
  min-width: 200px;
  max-width: 250px;
  margin: 0 0.3%;
}

.card:hover {
  border: 2px solid #007bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.cardImg {
  width: 100% !important;
  height: 200px !important;
  object-fit: cover !important;
  border-radius: 8px !important;
  display: block !important;
}